<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product Listing</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            <div class="header-content">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                </div>
                <div class="header-buttons">
                    <a href="/shop" class="button">Shop</a>
                    <a href="/cart" class="button">Cart</a>
                </div>
                <div class="user-info">
                    <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="User Icon">
                    <div class="user-details">
                        <span class="username">{{ user_name }}</span>
                        <span class="user-email">{{ user_email }}</span>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </header>
        

    <section id="hero">
        <div>
        <h4>Offer</h4>
        <h2>Super deal</h2>
        <h1>On this product</h1>
        <p>Save 30% off !</p>
        <a href="/products" class="button">Shop Now</a>
        </div>
    </section>

    <section class="features">
        <div class="feature-box">
            <img src="{{ url_for('static', filename='images/free-shipping.png') }}" alt="Free Shipping">
            <h3>Free Shipping</h3>
        </div>
        <div class="feature-box">
            <img src="{{ url_for('static', filename='images/online-order.png') }}" alt="Online Order">
            <h3>Online Order</h3>
        </div>
        <div class="feature-box">
            <img src="{{ url_for('static', filename='images/Support.png') }}" alt="24/7 Support">
            <h3>24/7 Support</h3>
        </div>
    </section>

    <form action="/add_product" method="POST">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" required><br><br>
    
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
    
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" required><br><br>
    
        <label for="inventory">Inventory:</label>
        <input type="number" id="inventory" name="inventory" required><br><br>
    
        <label for="category">Category:</label>
        <select id="category" name="category" required>
            <option value="1">Electronics</option>
            <option value="2">Clothing</option>
            <option value="3">Books</option>
            <!-- Add other category options -->
        </select><br><br>
    
        <input type="submit" value="Add Product">
    </form>

    <footer>
        <p>&copy; Tchokafew</p>
    </footer>
</body>
</html>